.mainWrapper {
    background-color:  #536976;
    padding: 30px;
    border-radius: 8px;
    color: white;
}
body{
    background-color: #e3dede ;
}
.title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.cityInfo {
    p{
        font-size: 20px;
        margin: 5px 0 ;
    }
}
